body {
    background-image: url(../img/bg-body.jpg);
}
p{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
footer p{
    margin-top:2px; 
}
.redsoc{
    color:white;
  }

.navbar a {
    color: #ffffff;
    text-decoration: none;
}
.navbar a:hover {
    color: #757575;
}
.navbar-toggler-icon {
    background-image: url(../img/botonhamburguesa/botonhamburguesa.png);
}
.bg-negro{
    background-color: rgb(0, 0, 0);
    color: white;
}
.seccion{
    margin-top: 100px;
    margin-bottom: 40px; 
}
.separacion{
    margin-top:20px;
}
.text-titulo{
    color:#343a40;
    border-bottom: 1px solid #343a40; 
    margin-top: 20px;
    margin-bottom:30px;
}

.btn-gris {
    background-color: #343a40;
    border-color: #343a40;
    color: white;
}

.btn-gris:hover {
    background-color: #787878;
    border-color: #787878;
    color: white;
}
iframe{
    width:450px;
    height:450px;
    border: 1px solid #000000; 
}

.izquierda{
    width: 20%;
    float: left;
}
